<script>
	import Contacts from "./Contacts.svelte";
	let contacts;
</script>

<svelte:head>
	<title>`salesforce-integration-svelte` App</title>
</svelte:head>

<h1>Contact List (from Salesforce)</h1>

<main>
	<Contacts {contacts} />
</main>